include *.in
include *.ini
include setup.md
include *.txt
include LICENSE
include setup.py

global-exclude __pycache__ *.py[cod] *.con

recursive-include py_ctp/lib32 *.*
recursive-include py_ctp/lib64 *.*

recursive-exclude py_ctp/log
exclude test*.py